.title{
    color: #fff;
}

.pareja-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.form-box-casar{
    background: #c945da3d;
    display: flex;
    justify-content: center;
    min-height: 170px;
}

.form-box-casar .form-input-casar{
    position: relative;
}

.form-box-casar .form-input-casar input{
    width: 50%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    background: white;
    padding-left: 35px;
}

.form-box-casar .form-input-casar span{
    position: absolute;
    top: 8px;
    padding-left: 15px;
    color: #777;
}

.from_box-casar .form_input-casar input::placeholder{
    padding-left: 0px;
}

.form-box-casar .form-input-casar input:focus,
.form-box-casar .form-input-casar input:valid{
    border-bottom: 2px solid #000000;
}

.form-box-casar button[type="submit"]{
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    transition: 0.5s;
}

.form-box-casar button[type = "submit"]:hover{
    background: #eed5b5;
    color:rgb(0, 0, 0);
    -webkit-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
    box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
}

.container-esposa{
    background: rgb(216, 22, 135);
}

.container-esposo{
    background: rgb(14, 112, 192);
}

.container-esposa, .container-esposo{
    margin-top: 20px;
    width: 45%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.casado{
    margin-top: 20px;
    padding: 15px;
    background: rgb(226, 101, 101);
    border-radius: 10px;
}

.btn-casar{
    margin-top: 25px;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 3px solid #eed5b5;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    transition: 0.5s;
}

.btn-casar:hover{
    margin-top: 20px;
    background: #eed5b5;
    color:rgb(0, 0, 0);
    -webkit-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
    box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
}

.title-notFound {
    color: #fff;
}