.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: 
    linear-gradient(rgba(0, 0, 0, 0.55), 
    rgba(0, 0, 0, 0.55)), 
    url('https://cdn0.bodas.net/article-real-wedding/277/original/1920/jpg/1993591.webp');

    background-size: cover;
    background-position: center;
    padding: 20px;
}

.login-card {
    width: 100%;
    max-width: 420px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    color: white;
}

.login-header {
    text-align: center;
    margin-bottom: 30px;
}

.login-header img {
    width: 80px;
    margin-bottom: 15px;
}

.login-header h1 {
    font-size: 2rem;
    font-weight: 600;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.login-form label {
    font-size: 14px;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.15);
    color: white;
    outline: none;
    transition: var(--transition);
}

.login-form input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.login-form input:focus{
    background: rgba(255, 255, 255, 0.22);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.login-button {
    margin-top: 10px;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: var(--primary-color);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
}

.login-button:hover {
    background: var(--secondary-color);
    transform: translateY(-2px);
}

.login-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}
