.navbar{
    background-color: #0f7115;
}

.navbar-brand, .nav-link, .dropdown-item, .dropdown-menu{
    color: white;
}

.navbar-brand:hover, .nav-link:hover, .nav-link:active, .nav-link:focus{
    color: #6fb874;
}

.dropdown-menu{
    background-color: #0f7115;
}

.dropdown-item:hover{
    background-color: #749f77;
}