:root {

    /* Colores */
    --primary-color: #297626;
    --secondary-color: #32902f;
    --background-color: #F4F7FB;
    --card-color: #FFFFFF;

    /* Texto */
    --text-color: #1F2937;
    --text-light: #6B7280;

    /* Estados */
    --success-color: #16A34A;
    --danger-color: #DC2626;
    --warning-color: #F59E0B;

    /* Border */
    --border-radius: 12px;

    /* Sombras */
    --box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);

    /* Trnasiciones */
    --transition: 0.3s ease;

}